* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.top-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  padding: 10px;
}

li {
  list-style-type: none;
  display: inline-block;
}

ul {
  display: flex;
  gap: 30px;
}

a {
  text-decoration: none;
  color: rgb(55, 14, 109);
}

a:hover {
  border-bottom: 2px solid white;
  padding: 2px 0;
}

.btn {
  -webkit-border-radius: 60;
  -moz-border-radius: 60;
  border-radius: 60px;
  text-shadow: 0px 0px 0px #732a73;
  -webkit-box-shadow: 0px 5px 6px #140a14;
  -moz-box-shadow: 0px 5px 6px #140a14;
  box-shadow: 0px 5px 6px #140a14;
  font-family: Courier New;
  color: #0f020f;
  font-size: 30px;
  padding: 10px;
  background: #f0ebef;
  border: solid #99d6fa 1px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.icon1 img {
  height: 100px;
  width: 100px;
  justify-content: center;
}

.yes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.yes h1 {
  font-size: 3rem;
}

.bg {
  color: #ffffff;
  background-image: linear-gradient(
    90deg,
    rgba(161, 224, 0, 0.39463707846419815) 0%,
    rgba(78, 121, 9, 0.629931196111257) 35%,
    rgba(255, 86, 0, 0.5066818963913691) 100%
  );
  background-position: center;
  height: 100vh;
  width: 100%;
  background-size: cover;
}
.header-texts {
  text-align: center;
  color: rgb(4, 15, 1);
  padding: 90px 0 30px 0;
  width: 70%;
  margin: auto;
}

span {
  font-family: cursive;
  color: #000000;
  font: size 34px;
  font-weight: 700;
  margin: 50px 0;
}

.icon {
  font-family: cursive;
  font-weight: bold;
  color: rgb(12, 1, 11);
  font-style: italic;
  width: 200px;
  height: 150px;
}

.header-text p {
  font-size: 13px;
}

.about-section {
  padding-top: 70px;
  padding-bottom: 50px;
}

.about-text {
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 50%;
  margin: auto;
  line-height: 22px;
  text-align: center;
}

.about-text h3 {
  padding: 12px;
  font-size: 18px;
}

.new-project {
  display: flex;
  align-items: center;
  width: 100%;
  margin: auto;
  background-color: rgb(17, 66, 4);
}

.new-project-text {
  padding: 70px;
  color: white;
}

.text {
  text-align: left;
  padding: 50px 0;
}

.text h3 {
  padding: 14px 0;
  color: rgb(225, 243, 198);
}

img {
  width: 100%;
}

.img {
  flex: 0 0 40%;
}

.img img {
  width: 100%;
  height: 500px;
  display: block;
  max-width: 100%;
}
.services {
  text-align: center;
  padding: 120px 30px;
  /* margin: auto; */
  font-style: italic;
  font-weight: 400;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-section{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.service-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 37px;
  grid-row-gap: 0px;
  padding: 20px;
  border-radius: 30%;
  color: white;
}

.services h2 {
  text-align: center;
  padding: 20px;
  background-color: rgb(17, 66, 4);
  border-radius: 14px;
  color: white;
}

.product-types {
  display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 10px;
grid-row-gap: 10px;
padding: 0 100px;
}

.Product-card{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  
}

.Products {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color: rgb(15, 14, 14);
  padding: 50px;
}

.Product-card img {
  height: 70%;
   width: 90%; 
   border-radius: 50px;
}

.Products h2 {
  margin-bottom: 50px;
  text-align: center;
  padding: 20px;
  background-color: rgb(17, 66, 4);
  border-radius: 14px;
  color: white;
  /* width: 500px; */
}
.see-more {
  background: #023808;
  background-image: -webkit-linear-gradient(top, #023808, #09ad42);
  background-image: -moz-linear-gradient(top, #023808, #09ad42);
  background-image: -ms-linear-gradient(top, #023808, #09ad42);
  background-image: -o-linear-gradient(top, #023808, #09ad42);
  background-image: linear-gradient(to bottom, #023808, #09ad42);
  -webkit-border-radius: 53;
  -moz-border-radius: 53;
  border-radius: 53px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 13px 5px 14px;
  text-decoration: none;
  cursor: pointer;
}
.see-more:hover{
  background: #abc6d6;
  background-image: -webkit-linear-gradient(top, #abc6d6, #0e212e);
  background-image: -moz-linear-gradient(top, #abc6d6, #0e212e);
  background-image: -ms-linear-gradient(top, #abc6d6, #0e212e);
  background-image: -o-linear-gradient(top, #abc6d6, #0e212e);
  background-image: linear-gradient(to bottom, #abc6d6, #0e212e);
  text-decoration: none;
  
}
.Product-card .see-more, h3 { 
  align-items: center;
}
.Team-types{
  display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
padding:0 120px;
gap: 20px;
background-color: #023808;
border-radius: 10px;
padding: 50px;
color: white;
}
.Team-Names h4{
  margin-top: 10px;
  text-decoration: underline;
  padding: 10px;
}
.Team{
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
  
}

.Team h2{
   color: white;
  margin-bottom: 30px;
  text-align: center;
  padding: 20px;
  background-color: rgb(0, 71, 0);
  border-radius: 14px;
  color: white;

}
.Team-Names img{
  height: 50%;
   width: 90%; 
   border-radius: 50px;
}
.Team-Names h4{
  text-align: center;
  margin-bottom: 50px;
}

.footer {
  background-color: rgb(17, 66, 4);
}
.footer-container{
  width: 100%;
  height: 30vh;
  padding: 500x 30px 20px;
}
.social-icons{
  display: flex;
  justify-content: center;
}
.social-icons a{
  text-decoration: none;
  padding: 10px;
  background-color: #2f4e31;
  margin: 10px;
  border-radius: 50%;
}
.social-icons a i{
  font-size: 2em;
  color: #ffffff;
  opacity: 0.9;
}
.social-icons a:hover i{
  color: #023808;
  transition: 0.5s;
}
.social-icons a:hover i{
  color: #000000;
  transition: o.5;
}
.footernav{
  margin: 30px 0;
}
.footernav ul{
  display: flex;
  justify-content: center;
}
.footernav ul li a{
  color: #dadada;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0 7;
  transition: 0.5;
}
.footernave ul li a:hover{
  opacity: 1;
}
.footer-bottom{
  background-color: #023808;
  padding: 20px;
  text-align: center;
}
.footer-bottom p{
  color: white;
}
.designer{
  opacity: 0 7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
  font-style: italic;
  color: white;
}